<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring.dockerfile" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="containerName" value="TestSpring" />
        <option name="sourceFilePath" value="spring.dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>